{% extends 'master.html' %}
{% load static %}



{% block content %}
<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}
                <div class="heading">
                    Login
                </div>

                <div class="line"></div>
                <!-- <div class="field">
                    <b>Username</b>

                    <input class="inp" type="text" name="fnm" required placeholder="Enter Your Full Name">
                </div> -->


                <div class="field">
                    <b>Email</b>

                    <input class="inp" type="email" name="emailid" required placeholder="Enter Your Username">
                </div>


                <div class="field">
                    <b>Password</b>

                    <input  class="inp" type="password" name="pwd" required placeholder="Enter Password">
                </div>
                <div class="field">
                    <input class="submit-button"type="submit" value="Login">
                </div>
                <div class="line"></div>

                <div class="field">
                    <b style="margin-left:130px;">Don't have an account ?</b>
                    <br>
                    <a class="anc"href="/signup">Signup</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock content %}